<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rinse</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>

<body>
    <div class="container mx-auto">
        <div class="flex flex-col items-center justify-center h-screen">
            <h1 class="text-5xl mb-6">
                <span>Welcome to Rinse</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 inline-block">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                  </svg>
            </h1>
            <h2 class="text-lg my-2">Use the form below to upload and image and remove the background</h2>

            <div class="flex justify-center">
                <div class="mb-3 w-96">
                    <form action="" class="my-6">
                        <label class="text-sm font-medium text-gray-900 block mb-2" for="file-uplod">Upload file</label>
                        <input class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 focus:outline-none focus:border-transparent text-sm rounded-lg" aria-describedby="iamge-help" id="file-upload" type="file">
                        <div class="mt-1 text-sm text-gray-500" id="image-help"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script> -->
</body>
</html>